* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(./Image/background.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  background-size: cover;
}

.container {
  width: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 2em;
  overflow: hidden;
}

.container h1 {
  font-weight: 900;
}

.container img {
  width: 100%;
  margin-top: 30px;
  border-radius: 1em;
}

.container .information {
  margin-top: 30px;
  line-height: 30px;
}

.container .information span {
  display: inline-block;
  width: 150px;
  font-weight: 700;
}
